<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}DEV my Shirts{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="descripion" content="Boutique e-commerce en ligne de t-shirts originaux basés sur les langages de programmation et de développement.">
        <meta name="author" content="DEV my Shirts">
         <!-- Styles -->
        <link rel="stylesheet" href="{{ asset( 'https://use.fontawesome.com/releases/v5.5.0/css/all.css' ) }}">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset( 'assets/vendor/style/bootstrap.min.css' ) }}" />
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset( 'assets/style/style.min.css' ) }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
        <!-- Liens vers les .JS -->
        <script src="{{ asset( 'assets/vendor/script/jquery-3.3.1.min.js' ) }}"></script>
        <script src="{{ asset( 'assets/vendor/script/popper.min.js' ) }}"></script>
        <script src="{{ asset( 'assets/vendor/script/bootstrap.min.js' ) }}"></script>
        <script src="{{ asset( 'assets/script/script.js' ) }}"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>

    
    
