{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block body %}
{{ dump(form) }}
    <br /><br />
    <h4>{{ title }}</h4>

    {# Formulaire de connexion #}
    
    {# {{ form_start ( form ) }}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_row ( form._username ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row ( form._password ) }}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6"> #}
                {# <button type="submit">Connecter</button> #}
                {# {{ form_row ( form.submit ) }}
            </div>
        </div>
    </div>
    {{ form_end ( form ) }} #}

{{form(form)}}

{% endblock %}