{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}
{% endblock %}

{% block body %}
{{ dump(form) }}
{{ dump(app.user) }}
    <br /><br />
    <h4>Inscription</h4>


    {# Formulaire Register #}

    {{ form_start ( form ) }}
    <div class="container">
        <div class="row">
            <div class="col-6">
                {{ form_row ( form.username ) }}
            </div>
            <div class="col-6">
                {{ form_row ( form.plainpassword ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row ( form.firstname ) }}
            </div>
            <div class="col-6">
                {{ form_row ( form.lastname ) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_row ( form.email ) }}
            </div>
            <div class="col-6">
                {{ form_row ( form.phone ) }}
            </div>
        </div>
        <div class="row text-center">
            <div class="col-6">
                {# <button type="submit">Créer votre compte</button> #}
                {{ form_row ( form.submit ) }}
            </div>
        </div>
    </div>
    {{ form_end ( form ) }}

{% endblock %}